<div class="order-cart">
    <p>
        Cart date: {{cart.date | date: "dd/MM/yyyy"}}
    </p>
    <hr>

    <div class="item" *ngFor="let i of items">
        product: {{i.product.productName}} <br>
        quantity: {{i.quantity}} <br>
        price: {{i.itemsPrice}} <br>
        <hr>
    </div>

</div>

<div class="order-form">

    <p>Shipping Details:</p>

    <form>

        <select name="city" [(ngModel)]="order.city">
            <option value="Jerusalem">Jerusalem</option>
            <option value="Tel Aviv">Tel Aviv</option>
            <option value="Haifa">Haifa</option>
            <option value="Rishon Le'Zion">Rishon Le'Zion</option>
            <option value="Petach Tikva">Petach Tikva</option>

            <option value="Ashdod">Ashdod</option>
            <option value="Natania">Natania</option>
            <option value="Be'er Sheva">Be'er Sheva</option>
            <option value="Holon">Holon</option>
            <option value="Bnei Brak">Bnei Brak</option>

        </select><br>

        <input type="text" placeholder="Street" name="street" [(ngModel)]="order.street"><br>

        <input type="date" placeholder="Shipping Date" name="shipping-date" [(ngModel)]="order.deliveryDate"><br>
        
        <input type="number" placeholder="Credit Card" name="credit-card" [(ngModel)]="order.creditCard"><br>


        <button (click)="commitOrder()">Order</button>
    </form>

</div>
