mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 20px
}

mat-sidenav {
    width: 350px;
}

#cart-btn{
    float: left;
}

.category {
    display: inline-block;
    margin-right: 30px;
}

.product {
    display: inline-block;
    margin: 0, auto;
}

img {
    height: 100px;
    width: 100px;
}
