#store {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    gap: 10px;
    border: 1px solid black;
}

/* div, div > * {
    border: 1px solid black;
} */

#cart {
    padding: 10px;
    grid-column: span 4;
    overflow-y: auto;
    border: 1px solid black;
}

#products {
    padding: 10px;
    grid-column: span 8;
    border: 1px solid black;
    height: 100%;
    overflow-y: auto;
}

.category {
    display: inline-block;
    margin-right: 30px;
}

.product {
    display: inline-block;
    margin: 0, auto;
}

img {
    height: 100px;
    width: 100px;
}