<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <app-cart></app-cart>
    </mat-sidenav>

    <mat-sidenav-content>
        <button id="cart-btn" mat-raised-button (click)="opened=!opened">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <br><br>

        <div class="categories">
            <div class="category" *ngFor="let c of categories">
                <button mat-raised-button (click)="getProductsByCategory(c._id)"> {{c.category}} </button>
            </div>
        </div>
        <br><br>

        <div class="product" *ngFor="let p of productsView">
            {{p.productName}} <br>
            Category: {{p.category.category}} <br>
            Price: {{p.unitPrice | currency:"ILS"}} <br>
            <img [src]="url+p.picFileName" height="200"> <br />

            <button mat-button (click)="openDialog(p)">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>