#store {
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;
}

aside {
    grid-column: span 4;
    overflow-y: auto;
}

main {
    height: 80%;
    box-sizing: border-box;
    display: grid;
    grid-column: span 8;
    grid-template-rows: 20% 100%;
    gap: 2px;
}

app-search {
    overflow: auto;
}

/* app-products {
    overflow: auto;
} */

#products {
    border: 1px solid black;
    height: 100%;
    overflow-y: auto;

}

.category {
    display: inline-block;
    margin-right: 30px;
}

.product {
    display: inline-block;
    margin: 0, auto;
}