div {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

div, div > * {
    border: 1px solid black;
}

app-login {
    grid-column: span 4;
    padding: 5px;
    padding-top: 30px;
}

app-about {
    grid-column: span 4;
    padding: 5px;
    padding-top: 30px;
}

app-info {
    grid-column: span 4;
    padding: 5px;
    padding-top: 30px;
}