<div>
    <p>Add Product</p>
    <form #formInfo="ngForm" (ngSubmit)="addProduct()">
        <mat-form-field>
            <input matInput type="text" placeholder="Product Name" name="productName" [(ngModel)]="product.productName"
                required minlength="2" #prodNameInfo="ngModel" autofocus>
            <mat-error *ngIf="prodNameInfo.errors?.required && prodNameInfo.touched">Missing Product Name</mat-error>
            <mat-error *ngIf="prodNameInfo.errors?.minlength && prodNameInfo.touched">Product Name too short</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select name="categories" [(ngModel)]="product.categoryId" required>
                <mat-option *ngFor="let c of categories" value={{c._id}}>{{c.category}}</mat-option>
            </mat-select><br>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="number" min="0" placeholder="Price" name="price" [(ngModel)]="product.unitPrice" required
                nonNegative #priceInfo="ngModel">
            <mat-error *ngIf="priceInfo.errors?.required && priceInfo.touched">Missing Price Name</mat-error>
            <mat-error *ngIf="priceInfo.errors?.nonNegative && priceInfo.touched">Price can't be negative</mat-error>
        </mat-form-field>
        <br>

        <img [src]="url" height="200"> <br />

        <div>
            <input type="file" accept="image*/" name="image" (input)="onFileSelect($event)" required />
        </div>
        <br>

        <button type="submit" mat-raised-button [disabled]="formInfo.form.invalid">Add Product</button>

    </form>
</div>