<div class="search">
    <form #formInfo="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="Product Name" name="productName" [(ngModel)]="productName" required
                minlength="2" #productInfo="ngModel">
            <mat-error *ngIf="productInfo.errors?.required && productInfo.touched">Missing product name</mat-error>
            <mat-error *ngIf="productInfo.errors?.minlength && productInfo.touched">Product name too short</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="search()">Search</button>
    </form>
</div>
