<div id="header">

    <div id="nav">

        <!-- Guest, User & Admin -->
        <div class="route">
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <span> |&nbsp; </span>
        </div>

        <!-- Guest -->
        <div class="route" *ngIf="!hasToken">
            <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register
                here</a>
        </div>

        <!-- User -->
        <div class="route" *ngIf="hasToken && user.role == 'user'">
            <a routerLink="/store" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Store</a>
            <span> |&nbsp; </span>
        </div>

        <!-- Admin -->
        <div class="route" *ngIf="hasToken && user.role == 'admin'">
            <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Admin</a>
            <span> |&nbsp; </span>
        </div>

        <!-- User and Admin -->
        <div class="route" *ngIf="hasToken">
            <a routerLink="/logout" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Logout</a>
        </div>


        <!-- Welcome message -->
        <div *ngIf="hasToken; then thenBlock else elseBlock"></div>
        <!-- User and Admin -->
        <ng-template #thenBlock> &nbsp; &nbsp; - Hello {{user.firstName}} {{user.lastName}} -</ng-template>
        <!-- Guest -->
        <ng-template #elseBlock> &nbsp; &nbsp; - Hello Guest -</ng-template>

    </div>



    <!-- User and Admin -->
    <div id="search" *ngIf="hasToken">
        <!-- && user.role == 'user' -->
        <app-search></app-search>
    </div>

</div>