#header {
    padding-left: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px #aaaaaa!important;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route {
    display: inline-block;
}

.active {
    font-weight: bold;
}

