#header {
    padding: 5px;
    height: 100%;
    width: 100%;
    border:  1px solid black;
    box-shadow: 5px 5px 5px #aaaaaa!important;
}

#nav {
    /* border:  1px solid black; */
    padding: 20px;
    float: left;
}

#search {
    /* border:  1px solid black; */
    float: right;
    padding: 10px;
} 

.route {
    display: inline-block;
}

.active {
    font-weight: bold;
}

