<div>
    <h4>Login:</h4>

    <form #formInfo="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="Username = Email" name="username" [(ngModel)]="user.username"
                required minlength="2" #nameInfo="ngModel" autofocus>
            <mat-error *ngIf="nameInfo.errors?.required && nameInfo.touched">Missing name</mat-error>
            <mat-error *ngIf="nameInfo.errors?.minlength && nameInfo.touched">Name too short</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="user.password" 
            required minlength="4" #passInfo="ngModel">
            <mat-error *ngIf="passInfo.errors?.required && passInfo.touched">Missing Password</mat-error>
            <mat-error *ngIf="passInfo.errors?.minlength && passInfo.touched">Password too short</mat-error>
        </mat-form-field>

        <br>
        <button mat-button [disabled]="formInfo.form.invalid" (click)="login()">Login</button>

    </form>

    <a routerLink="/register">
        <h6>Register Here</h6>
    </a>

</div>