<div *ngIf="!hasToken">
    <h4>Login</h4>
    <br>

    <form #formInfo="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="Username = Email" name="username"
                [(ngModel)]="credentials.username" required minlength="2" #nameInfo="ngModel" autofocus>
            <mat-error *ngIf="nameInfo.errors?.required && nameInfo.touched">Missing name</mat-error>
            <mat-error *ngIf="nameInfo.errors?.minlength && nameInfo.touched">Name too short</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password"
                required minlength="4" #passInfo="ngModel">
            <mat-error *ngIf="passInfo.errors?.required && passInfo.touched">Missing Password</mat-error>
            <mat-error *ngIf="passInfo.errors?.minlength && passInfo.touched">Password too short</mat-error>
        </mat-form-field>

        <br>
        <button mat-button [disabled]="formInfo.form.invalid" (click)="login()">Login</button>

    </form>
    <br><br>

    <h4>New User?</h4>
    <a routerLink="/register">
        <h4>Register Here</h4>
    </a>

</div>

<div *ngIf="user && user.role == 'user'">
    <h4> Welcome! </h4>
    <br>
    <a routerLink="/store" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Start / Resume Shopping</a>
</div>

<div *ngIf="user && user.role == 'admin'">
    <h4> Welcome! </h4>
    <br>
    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Add / Edit Products</a>
</div>