<div *ngIf="!hasToken">
    <h4 id="login">Login</h4>

    <div id="example">
        Demo user: user@email.com <br>
        Demo admin: admin@email.com <br>
        Passwords: abc123
    </div>
    <br>

    <form #formInfo="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="Username = Email" name="username"
                [(ngModel)]="credentials.username" required minlength="2" #nameInfo="ngModel">
            <mat-error *ngIf="nameInfo.errors?.required && nameInfo.touched">Missing name</mat-error>
            <mat-error *ngIf="nameInfo.errors?.minlength && nameInfo.touched">Name too short</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password"
                required minlength="4" #passInfo="ngModel">
            <mat-error *ngIf="passInfo.errors?.required && passInfo.touched">Missing Password</mat-error>
            <mat-error *ngIf="passInfo.errors?.minlength && passInfo.touched">Password too short</mat-error>
        </mat-form-field>

        <br>
        <button mat-raised-button [disabled]="formInfo.form.invalid" (click)="login()">Login</button>

    </form>
    <br>

    <h4>New User?
        <a routerLink="/register">
            Register Here
        </a>
    </h4>

</div>

<div *ngIf="hasToken && user && user.role == 'user'">

    <div *ngIf="openCartDate">
        <h1> Welcome!</h1>
        <br>
        <a routerLink="/store"> Resume Shopping </a>
    </div>

    <div *ngIf="!openCartDate && lastOrder">
        <h1> Welcome!</h1>
        <br>
        <a routerLink="/store"> Start Shopping </a>
    </div>

    <div *ngIf="!openCartDate && !lastOrder">
        <h1> Welcome New User!</h1>
        <br>
        <a routerLink="/store"> Start Shopping </a>
    </div>
</div>



<div *ngIf="hasToken && user && user.role == 'admin'">
    <h4> Welcome! </h4>
    <br>
    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Add / Edit Products</a>
</div>