<h4>Info</h4>
<br>
<div>
    Available products in our store: {{ productsNum }} <br><br>
    Number of orders in our store: {{ ordersNum }}
</div>

<div *ngIf="hasToken && user.role == 'user'">
    <br>
    <hr>
    <br>
    Welcome {{ user.firstName }} {{ user.lastName }}! <br><br>

    <p *ngIf="openCart">
        You have an open cart from {{ openCart.date | date: "dd/MM/yyyy" }}
    </p>

    <p *ngIf="lastOrder">
        your last order was on {{ lastOrder | date: "dd/MM/yyyy" }} <br>
    </p>

    <!-- fix pipe date problem  -->

</div>