<div id="info">

    <h3>Info</h3>
    <br>
    <div>
        Available products in our store: {{ productsNum }} <br><br>
        Number of orders in our store: {{ ordersNum }}
    </div>

    <div *ngIf="hasToken && user.role == 'user'">
        <br><br>
        <hr>
        <br><br>
        <!-- Welcome {{ user.firstName }} {{ user.lastName }}!  -->
        
        <p *ngIf="openCartDate">
            You have an open cart from {{ openCartDate | date: "dd/MM/yyyy" }}
        </p>
        <p *ngIf="!openCartDate">
            You have no open cart
        </p>
    
        <!-- fix pipe date problem  -->
        <p *ngIf="lastOrder">
            your last order was on {{ lastOrder | date: "dd/MM/yyyy" }} <br>
        </p>
        <p *ngIf="!lastOrder">
            You have no prior orders
        </p>
    </div>
</div>