<mat-sidenav-container>

    <mat-sidenav mode="side" [(opened)]="addOpened || editOpened">

        <div *ngIf="addOpened">
            <app-add-product></app-add-product>
        </div>
        <div *ngIf="editOpened">
            <app-edit-product></app-edit-product>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <button id="add" mat-raised-button (click)="addOpened=!addOpened; editOpened=false">Add</button>
        <br><br>

        <div class="categories">
            <div class="category" *ngFor="let c of categories">
                <button mat-raised-button (click)="getProductsByCategory(c._id)"> {{c.category}} </button>
            </div>
        </div>
        <br><br>

        <div class="product" *ngFor="let p of productsView">
            {{p.productName}}<br>
            Price: {{p.unitPrice | currency:"ILS"}}<br>
            <img [src]="url+p.picFileName" height="200"> <br />
            <button mat-raised-button (click)="editOpened=!editOpened; addOpened=false; editProductId(p._id)">Edit</button>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>