.cart {
    border: 1px solid black;
    height: 100%;
}

.item {
    text-align: left;
    /* border: 1px solid black; */
    /* padding: 10px; */
    padding-left: 10px;
    float: left;
    width: 96%;
}