.productsCart {
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr);
}

/* div, div > * {
    border: 1px solid black;
} */

app-cart {
    grid-column: span 4;
    margin: 5px;
    border: 1px solid black;
    overflow: auto;
}

.products {
    grid-column: span 8;
    margin: 5px;
    border: 1px solid black;
    overflow: auto;
}